html {
  color: #042037;
  /* font-family is left to default */
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* Properties commonly applied throughout the file */

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  color: #221858;
  text-decoration: none;
}

/* I couldn't get these svg's to fill. That would have been cool. */
.header_svg {
  fill: #042037;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.mobile_visible {
  display: none;
}

/* Why do these links seem to always be orange, rather than only after they have been visited? */

.infolink1:visited, .infolink2:visited, .infolink3:visited, .footerlink1:visited, .footerlink2:visited {
  color: orange;
}

/* -----Header----- */

/* Why does the fixed position of the header seem to lag when I scroll upwards quickly?? */

.headerwrapper {
  align-items: center;
  background-color: #718DA5;
  border-bottom: 2px #042037 solid;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  opacity: 0.90;
  z-index: 1;
}

.headerleft {
  align-items: center;
}

.headerleft img {
  height: 2.5rem;
}

.headerleft h1 {
  text-transform: uppercase;
}

.ColmarAcademy h1:first-of-type {
  color: #042037;
}

.ColmarAcademy:last-child {
  color: #496C89;
}

.headerright li {
  font-size: 1.5rem;
  padding-left: 16px;
}

.header_backgrounddiv {
  background-color: #718DA5;
  height: 64px;
  width: 100%;
}

.segments {
  width: 100%;
}

.segment {
  border-top: 1px solid #718DA5;
  border-bottom: 1.5px solid #718DA5;
}

/* -----Banner Segment----- */

.banner {
  border-top: none;
}

.banner {
  align-items: center;
  background-color: #123552;
  width: 100%;
}

.banner img {
  padding: 32px 24px;
  width: 60%;
}

.bannerwrapperright {
  padding: 32px 24px 32px 16px;
  width: 30%;
}

.bannerwrapperright h2, .bannerwrapperright h3 {
  color: #496C89;
}

.bannerwrapperright h3 {
  margin: 24px auto;
}

.bannerwrapperright a {
  background-color: #496C89;
  border: #718DA5 3px solid;
  border-radius: 5px;
  color: #042037;
  text-shadow: -1px 0 #718DA5, 0 1px #718DA5, 1px 0 #718DA5, 0 -1px #718DA5;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 8px;
  text-align: center;
}

.bannerwrapperright a:hover {
  background-color: #042037;
  transition: 300ms;
}

/* -----Information Segment----- */

.information {
  background-color: #496C89;
  padding-top: 32px;
}

.information h2 {
  padding-top: 32px;
}

.informationwrapperleft {
  padding: 0px 24px 32px;
  width: 60%;
}

.informationwrapperleft img {
  width: 100%;
}

.informationwrapperleft p {
  padding: 24px 0;
}

.informationwrapperright, .thesiswrapperright {
  justify-content: flex-start;
  padding-right: 8px;
  width: 40%;
}

.info_righthalf {
  background-color: #496C89;
  padding: 16px;
}

.infowrapright_top {
  padding-top: 0;
}

.infoimageright {
  border: #718DA5 solid 2px;
}

.info_image, .thesis_image {
  padding-right: 16px;
  width: 35%;
}

.info_image img, .thesis_image img {
  width: 100%;
  height: auto;
}

.infoimageright, .thesisimageright {
  justify-content: center;
  padding: 8px;
  width: 65%;
}

.infoimageright p, .thesisimageright p, .courseimages p:first-of-type {
  padding: 8px 0;
}

.infowrapright_middle, .thesiswrapright_bottom {
  background-color: #718DA5;
}

.infowrapright_middle .infoimageright, .thesiswrapright_bottom .thesisimageright {
  border: #496C89 solid 2px;
}

/* -----Course Segment----- */

.courses {
  background-color: #123552;
  padding: 16px 56px;
  max-width: 100%;
}

/* .courses */

.courseheading {
  color: #718DA5;
  margin: 16px;
  text-align: center;
  width: 100%;
}

.coursewrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.courseimages {
  padding: 16px;
  max-width: 24rem;
}

.courseimages img {
  border-radius: 4px;
  width: 100%;
}

/* -----Theis Segment----- */

/* Much of the thesis Segment code is also included in the Information Segment code above */

.thesis {
  background-color: #496C89;
  padding: 32px 0;
  max-width: 100%;
}

.thesisheading {
  text-align: center;
  padding-bottom: 32px;
}

.thesiswrapperleft {
  padding: 0 24px;
  width: 60%;
}

.thesiswrapperleft video {
  width: 100%;
}

.thesiswrapperleft h3 {
  padding: 24px 0 8px;
}

.thesis_righthalf {
  padding: 16px;
}

.thesiswrapright_top {
  padding-top: 0;
}

.thesisimageright {
  border: #718DA5 solid 2px;
}

  /*----- Footer -----*/

.footerwrapper {
  background-color: #123552;
  border-top: 2px solid #718DA5;
  height: 96px;
  justify-content: space-between;
  padding: 16px 24px;
}

.footerleft span, .footerright a {
  color: #718DA5;
}

.footerright a:last-of-type {
  margin-left: 8px;
}

/*----- Media Queries -----*/

@media only screen and (max-width: 1245px) {
  .bannerwrapperright {
    width: 35%;
  }
}

@media only screen and (max-width: 1070px) {
  .bannerwrapperright {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .bannerwrapperright {
    width: 39%;
  }
}

@media only screen and (max-width: 900px) {
  .headerright li {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 780px) {
  h2 {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 720px) {
  .headerwrapper {
    padding: 0;
  }

  .headerleft img {
    height: 2rem;
  }

  .headerright li {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .bannerwrapperright {
    padding: 32px 0;
  }

  .info_righthalf {
    padding: 0 0 16px 0;
  }

  .infowrapright_middle {
    background-color: #496C89;
  }

  .infowrapright_middle .infoimageright {
    border: #718DA5 solid 2px;
  }

  .thesisimageright {
    margin: 0;
  }

  .thesiswrapperouter {
    flex-direction: column;
  }

  .thesiswrapperleft {
    width: 100%;
  }

  .thesiswrapperright {
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
  }

  .thesis_righthalf {
    height: 140px;
  }

  .thesiswrapright_top {
    padding: 16px 16px 16px 24px;
  }

  .thesiswrapright_bottom {
    background-color: #496C89;
    padding: 16px 24px 16px 16px;
  }

  .thesiswrapright_bottom .thesisimageright {
    border: #718DA5 solid 2px;

/* Why are the two images unequal sizes after this media query is applied? */

  }
}

@media only screen and (max-width: 618px) {
  h2 {
    font-size: 2rem;
  }

  .bannerwrapperright {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .thesis {
    padding-bottom: 0;
  }

  .thesis_image {
    display: none;
  }

  .thesisimageright {
    width: 100%;
  }
}

/*-----What the HECK??! If I don't have two copies of these rules, they break.-----*/
/*-----I copied an pasted the top set down below.-----*/
/*-----It doesn't matter which set I delete, it will break not matter what unless I keep both copies.-----*/
/*-----WHAT'S GOING ON HERE???!!!-----*/
/* AHA! I found the problem. It's all taken care of now, but I'll leave these comments in here just for fun. Ahhh... Good memories. */

@media only screen and (max-width: 575px) {
  .headerleft img {
    height: 1.75rem;
  }

  .headerright li {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 0.9rem;
  }

  .infoimageright {
    margin-right: 0;
  }

  .infoimageright {
    padding: 8px 0;
  }
}

@media only screen and (max-width: 498px) {
  html {
    font-size: 16px;
  }

  .banner {
    /* This doesn't work unless I apply specific classes/id's. */
    margin: 0;
    padding: 0;
  }

  .mobile_nodisplay {
    display: none;
  }

  .mobile_visible {
    display: flex;
  }

/* WHY ISN'T THIS STUPID PIECE OF JUNK WORKING????? */
/* Never mind. Got it. */

  .mobileheader {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    width: 100%;
  }

  .banner {
    flex-direction: column;
  }

  .banner img {
    padding: 0;
    width: 100%;
  }

  .bannerwrapperright {
    padding: 32px 16px;
    width: 100%;
  }

  .bannerwrapperright h2 {
    text-align: center;
  }

  .bannerwrapperright h3 {
    margin-top: 32px;
    text-align: center;
  }

  .information {
    padding: 16px 16px 32px;
    width: 100%;
  }

  .informationwrapperright, .thesiswrapperright {
    padding-right: 0;
    width: 100%;
  }

  .info_righthalf {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .info_image {
    padding-right: 0;
    width: 100%;
  }

  .info_image img.mobile_visible {
    border-radius: 3px;
  }

  .infoimageright {
    border-radius: 3px;
    margin: 16px 0;
    padding: 16px;
    width: 100%;
  }

  .infowrapright_bottom {
    background-color: inherit;
  }

  .courses {
    background-color: #123552;
    padding: 32px 16px;
  }

  .coursewrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .courseimages {
    background-color: #123552;
    padding: 0 0 8px;
    max-width: 100%;
  }

  .marketingimage {
    padding-bottom: 0;
  }

  .courseimage {
    border-radius: 5px;
    padding: 0;
  }

  .courseimage h3 {
    background-color: #718DA5;
    border-radius: 5px;
    padding: 16px 16px 24px;
  }

  .courseimage:hover {
    background-color: #718DA5;
  }

  .courseimages:hover .courseimage h3 {
    background-color: #496C89;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #718DA5;
  }

  .courseimage:hover p {
    display: flex;
  }

  .courseimage:hover .courselist {
    font-weight: 600;
  }

  .courseimage:not(:hover) p {
    display: none;
  }

  .courseimage:hover, .courseimages:hover .courseimage h3 {
    transition: 350ms;
  }

  .thesis {
    padding: 32px 0 24px;
  }

  .thesisheading {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }

  .thesiswrapperleft {
    padding: 0;
    width: 100%;
  }

  .footerwrapper {
    border-top: none;
  }
}

@media only screen and (min-width: 485px) {
  .courseimage {
    background-color: #718DA5;
    border-radius: 4px;
    padding: 16px 16px 24px;
    width: 100%;
    height: 8rem;
  }
}

@media only screen and (max-width: 896px) and (min-width: 705px) {
  .courseimages {
    max-width: 18rem;
  }
}

@media only screen and (max-width: 1089px) and (min-width: 896px) {
  .courseimages {
    max-width: 24rem;
  }
}

/* I'm not sure why, but code below this comment is broken. */
/* If I insert it up higher in the file, it will break code beneath it as well. */
/* Figured it out again. Same mistake as always. I'm just an idiot. Duhrrrr. */
  @media only screen and (max-width: 1280px) and (min-width: 1090px) {
  .courseimages {
    max-width: 20rem;
  }
}

  @media only screen and (min-width: 1281px) {
  .courseimages {
    max-width: 24rem;
  }
}
