html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* Properties commonly applied throughout the file */

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.mobile_visible {
  display: none;
}

/* Why do these links seem to always be orange, rather than only after they have been visited? */

a:visited {
  color: orange;
}

/* -----Header----- */

/* Why does the fixed position of the header seem to lag when I scroll upwards quickly?? */

.headerwrapper {
  align-items: center;
  background-color: #FFF;
  border-bottom: 2px #AAA solid;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  opacity: 0.90;
  z-index: 1;
}

.headerleft {
  align-items: center;
}

.headerleft img {
  height: 2.5rem;
}

.headerleft h1 {
  text-transform: uppercase;
}

.ColmarAcademy h1:first-of-type {
  color: gray;
}

.ColmarAcademy:last-child {
  color: lightgray;
}

.headerright li {
  font-size: 1.5rem;
  padding-left: 16px;
}

.header_backgrounddiv {
  background-color: gray;
  height: 64px;
  width: 100%;
}

.segments {
  width: 100%;
}

/* -----Banner Segment----- */

.banner {
  align-items: center;
  background-color: gray;
  width: 100%;
}

.banner img {
  padding: 32px 24px;
  width: 60%;
}

.bannerwrapperright {
  padding: 32px 24px 32px 16px;
  width: 30%;
}

.bannerwrapperright h3 {
  margin: 24px auto;
}

.bannerwrapperright a {
  background-color: #000;
  font-size: 1.5rem;
  padding: 8px;
  text-align: center;
}

/* -----Information Segment----- */

.information {
  padding-top: 32px;
}

.information h2 {
  padding-top: 32px;
}

.informationwrapperleft {
  padding: 0px 24px 32px;
  width: 60%;
}

.informationwrapperleft img {
  width: 100%;
}

.informationwrapperleft p {
  margin: 24px auto;
}

.informationwrapperright, .thesiswrapperright {
  justify-content: flex-start;
  width: 40%;
}

.info_righthalf {
  padding: 16px;
}

.infowrapright_top {
  padding-top: 0;
}

.info_image, .thesis_image {
  margin-right: 16px;
  width: 35%;
}

.info_image img, .thesis_image img {
  width: 100%;
  height: auto;
}

.infoimageright, .thesisimageright {
  justify-content: center;
  margin-right: 16px;
  padding: 8px;
  width: 65%;
}

.infoimageright p, .thesisimageright p, .courseimages p:first-of-type {
  padding: 8px 0;
}

.infowrapright_bottom, .thesiswrapright_top {
  background-color: gray;
}

/* -----Course Segment----- */

.courses {
  background-color: lightgray;
  padding: 16px 56px;
  max-width: 100%;
}

.courseheading {
  margin: 16px;
  text-align: center;
  width: 100%;
}

.coursewrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.courseimages {
  padding: 16px;
  max-width: 24rem;
}

.courseimages img {
  width: 100%;
}

/* -----Theis Segment----- */

/* Much of the thesis Segment code is also included in the Information Segment code above */

.thesis {
  padding: 32px 0;
  max-width: 100%;
}

.thesisheading {
  text-align: center;
  padding-bottom: 32px;
}

.thesiswrapperleft {
  padding: 0 24px;
  width: 60%;
}

.thesiswrapperleft video {
  width: 100%;
}

.thesiswrapperleft h3 {
  padding: 24px 0 8px;
}

.thesis_righthalf {
  padding: 16px;
}

  /*----- Footer -----*/

.footerwrapper {
  border-top: 1px solid gray;
  height: 96px;
  justify-content: space-between;
  padding: 16px 24px;
}

.footerright a:last-of-type {
  margin-left: 8px;
}

/*----- Media Queries -----*/

@media only screen and (max-width: 1245px) {
  .bannerwrapperright {
    width: 35%;
  }
}

@media only screen and (max-width: 1070px) {
  .bannerwrapperright {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .bannerwrapperright {
    width: 40%;
  }
}

@media only screen and (max-width: 876px) {
  .headerright li {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 760px) {
  h2 {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 700px) {
  .headerwrapper {
    padding: 0;
  }

  .headerleft img {
    height: 2rem;
  }

  .headerright li {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .bannerwrapperright {
    padding: 32px 0;
  }

  .info_righthalf {
    padding: 0 0 16px 0;
  }

  .thesiswrapperouter {
    flex-direction: column;
  }

  .thesiswrapperleft {
    width: 100%;
  }

  .thesiswrapperright {
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
  }

  .thesiswrapright_bottom {
    border: 2px lightgray solid;
  }
}

@media only screen and (max-width: 605px) {
  h2 {
    font-size: 2rem;
  }

  .bannerwrapperright {
    padding-top: 0;
    padding-bottom: 0;
  }

  .thesis {
    padding-bottom: 0;
  }

  .thesis_image {
    display: none;
  }

  .thesisimageright {
    width: 100%;
  }
}

/*-----What the HECK??! If I don't have two copies of these rules, they break.-----*/
/*-----I copied an pasted the top set down below.-----*/
/*-----It doesn't matter which set I delete, it will break not matter what unless I keep both copies.-----*/
/*-----WHAT'S GOING ON HERE???!!!-----*/
/* AHA! I found the problem. It's all taken care of now, but I'll leave these comments in here just for fun. Ahhh... Good memories. */

@media only screen and (max-width: 575px) {
  .headerleft img {
    height: 1.75rem;
  }

  .headerright li {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 0.9rem;
  }

  .infoimageright {
    margin-right: 0;
  }

  .info_image {
    margin-right: 9px;
  }

  .infoimageright {
    padding: 8px 0;
  }
}

@media only screen and (max-width: 485px) {
  html {
    font-size: 16px;
    /* I probably need to make this smaller for headings, etc. */
  }

  .banner {
    /* This doesn't work unless I apply specific classes/id's. */
    margin: 0;
    padding: 0;
  }

  .mobile_nodisplay {
    display: none;
  }

  .mobile_visible {
    display: flex;
  }

/* WHY ISN'T THIS STUPID PIECE OF JUNK WORKING????? */

/* Never mind. Got it. */
  .mobileheader {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .banner {
    flex-direction: column;
  }

  .banner img {
    padding: 0;
    width: 100%;
  }

  .bannerwrapperright {
    padding-right: 16px;
    width: 100%;
  }

  .bannerwrapperright h3 {
    margin-top: 32px;
  }

  .information {
    padding: 16px 16px 0;
    width: 100%;
  }

  .informationwrapperright {
    width: 100%;
  }

  .info_righthalf {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .info_image {
    width: 100%;
  }

  .infoimageright {
    margin: 0;
    padding: 32px 16px 64px;
    width: 100%;
  }

  .infowrapright_bottom {
    background-color: inherit;
  }

  .infowrapright_bottom .infoimageright {
    padding-bottom: 32px;
  }

  .courses {
    background-color: #FFF;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    padding: 32px 16px;
  }

  .coursewrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .courseimages {
    padding: 0 0 8px;
    max-width: 100%;
  }

  .marketingimage {
    padding-bottom: 0;
  }

  .courseimage {
    border-radius: 5px;
    padding: 0;
  }

  .courseimage h3 {
    background-color: lightgray;
    border-radius: 5px;
    padding: 16px 16px 24px;
  }

  .courseimage:hover {
    background-color: #EEE;
  }

  .courseimage h3:hover {
    background-color: #AAA;
  }

  .courseimage:hover p {
    display: flex;
  }

  .courseimage:hover .courselist {
    font-weight: 600;
  }

  .courseimage:not(:hover) p {
    display: none;
  }

  .courseimage:hover, .courseimage h3:hover {
    transition: 350ms;
  }

  .thesis {
    margin: 32px 0 24px;
    padding: 0;
  }

  .thesisheading {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }

  .thesiswrapperleft {
    padding: 0;
    width: 100%;
  }

  .footerwrapper {
    border-top: none;
  }
}

@media only screen and (min-width: 485px) {
  .courseimage {
    background-color: #FFF;
    padding: 16px 16px 24px;
    width: 100%;
    height: 9rem;
  }
}

@media only screen and (max-width: 896px) and (min-width: 705px) {
  .courseimages {
    max-width: 18rem;
  }
}

@media only screen and (max-width: 1089px) and (min-width: 896px) {
  .courseimages {
    max-width: 24rem;
  }
}

/* I'm not sure why, but code below this comment is broken. */
/* If I insert it up higher in the file, it will break code beneath it as well. */
/* Figured it out again. Same mistake as always. I'm just an idiot. Duhrrrr. */
  @media only screen and (max-width: 1280px) and (min-width: 1090px) {
  .courseimages {
    max-width: 20rem;
  }
}

  @media only screen and (min-width: 1281px) {
  .courseimages {
    max-width: 24rem;
  }
}
